registry = 'https://bnpm.byted.org/'

sass_binary_site=https://bnpm.bytedance.net/mirrors/node-sass
puppeteer_download_host=https://bnpm.bytedance.net/mirrors
chromedriver_cdnurl=https://bnpm.bytedance.net/mirrors/chromedriver
phantomjs_cdnurl=https://bnpm.bytedance.net/mirrors/phantomjs
selenium_cdnurl=https://bnpm.bytedance.net/mirrors/selenium
node_inspector_cdnurl=https://bnpm.bytedance.net/mirrors/node-inspector

sass_binary_site=https://bnpm.bytedance.net/mirrors/node-sass
node_sqlite3_binary_host_mirror=https://bnpm.bytedance.net/mirrors
python_mirror=https://bnpm.bytedance.net/mirrors/python
profiler_binary_host_mirror=https://bnpm.bytedance.net/mirrors/node-inspector/
npm_config_profiler_binary_host_mirror=https://bnpm.bytedance.net/mirrors/node-inspector/

disturl=https://bnpm.bytedance.net/mirrors/node

strict-peer-dependencies=false
auto-install-peers=true
